@charset "UTF-8";

@use 'sass:math';

@import "https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap";
@import "https://fonts.googleapis.com/css?family=Black+Han+Sans:400";
@import "https://fonts.googleapis.com/css?family=Hi+Melody:400";

@import "../partials/themes";

@font-face {
    font-family: "TypoCrayonB";
    font-style: normal;
    font-weight: 400;
    src: url("../../src/assets/fonts/Typo_CrayonB.ttf");
}

@font-face {
    font-family: "TypoCrayonL";
    font-style: normal;
    font-weight: 400;
    src: url("../../src/assets/fonts/Typo_CrayonL.ttf");
}

* {
    font-family: "TypoCrayonL";
    box-sizing: border-box;
    color: var(--clr-reversal);
}

body {
    background: var(--clr-basic);
}

$mobile-size: 720;

/* vw 변환 function */
@function vw($target) {
    @if type-of($target)==number {
        @return (math.div(($target * 100), $mobile-size)) * 1vw;
    }

    @else if type-of($target)==list {
        $vw: ();

        @each $value in $target {
            @if type-of($value)==number {
                $vw: append($vw, (math.div(($value * 100), $mobile-size)) * 1vw);
            }

            @else if type-of($value)==string {
                $vw: append($vw, $value);
            }
        }

        @return $vw;
    }

    @else {
        @return $target;
    }
}

.t-center {
    text-align: center;
}

// 버튼
.btn {
    position: relative;
    border-radius: vw(8);

    // 형태별 클래스
    &.btn-round {
        border-radius: 50%;
    }

    // 색상별 클래스
    &.btn-primary {
        background: var(--clr-primary);
        color: var(--clr-reversal);
    }

    // 크기별 클래스
    &.sm {
        font-size: vw(24);
        width: auto;
        height: vw(20);
    }

    &.mid {
        font-size: vw(28);
        width: 50%;
        height: vw(30);
    }

    &.wide {
        font-size: vw(32);
        width: 100%;
        height: vw(80);
    }
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: vw(80);
    background: var(--clr-primary);

    .inner {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 vw(40);

        .nav {
            display: flex;
            align-items: center;

            .barMenu {
                display: flex;
                align-items: center;
                position: relative;
                width: vw(28);
                height: vw(20);

                .bar {
                    display: block;
                    width: 80%;
                    height: vw(1);
                    background: var(--clr-reversal);
                    border-radius: vw(4);
                }

                &:before,
                &:after {
                    display: block;
                    clear: both;
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: vw(1);
                    background: var(--clr-reversal);
                }

                &:before {
                    top: 0;
                }

                &:after {
                    width: 60%;
                    bottom: 0;
                }
            }

            .gnb-wrapper {
                overflow: hidden;
                display: none;
                position: fixed;
                left: 0;
                top: 0;
                z-index: 5;
                width: 100vw;
                height: 100vh;
                background: var(--clr-basic);

                .gnb-inner {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    padding: vw(20);

                    .closeGnb {
                        width: vw(30);
                        height: vw(30);
                        margin-left: auto;
                        background: url("../../assets/images/Close_LG.png") center center no-repeat;
                        background-size: cover;
                    }

                    .gnb {
                        li {
                            font-size: vw(14);
                            padding: vw(8) 0;

                            a {
                                font-size: vw(18);
                                font-family: "Hi Melody";
                            }
                        }
                    }
                }
            }
        }

        .logo {
            font-size: vw(12);
            margin: auto;
            width: vw(70);
            height: auto;

            img {
                width: 100%;
            }
        }

        .change-theme {
            .theme-mode {
                display: flex;
                align-items: center;

                input {
                    position: relative;
                    border-radius: vw(22);
                    width: vw(50);
                    height: vw(30);
                    background: transparent;
                    background: #d0c301;

                    &:before {
                        position: absolute;
                        left: vw(2);
                        top: vw(1);
                        width: vw(28);
                        height: vw(28);
                        content: "";
                        border-radius: 50%;
                        transform: scale(0.8);
                        background-color: var(--clr-primary);
                        transition: left 250ms linear;
                    }

                    &:checked {
                        background: gray;

                        &:before {
                            left: vw(21);
                            background: #ffffff;
                        }
                    }
                }

                .mode-text {
                    font-size: vw(20);
                    line-height: vw(22);
                    text-align: center;
                    padding-left: vw(5);
                }
            }
        }
    }
}

#footer {
    display: none;
    width: 100%;
    height: vw(90);
    background: var(--clr-reversal);
    color: var(--clr-basic);
}

.visual {
    position: relative;
    width: 100%;
    height: calc(100vh - 160px);
    transition: all 1s ease-in-out;

    .carrot_obj_wrap {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all 1s ease-in-out;

        .carrot {
            display: block;
            position: absolute;
            width: vw(50);
            height: vw(26);
            animation: updown 5s linear infinite;
            transition: all 1s ease-in-out;
            background: url("../../src/assets/images/carrot.png") center center no-repeat;
            background-size: contain;

            &:nth-child(1) {
                left: 10%;
                top: 10%;
            }

            &:nth-child(2) {
                left: 70%;
                top: 50%;
            }

            &:nth-child(3) {
                left: 20%;
                top: 30%;
            }

            &:nth-child(4) {
                left: 50%;
                top: 70%;
            }

            &:nth-child(5) {
                left: 20%;
                top: 60%;
            }
        }

        .big-carrot {
            display: none;
            position: absolute;
            left: 50%;
            top: 50%;
            width: vw(200);
            height: vw(100);
            background: url("../../src/assets/images/carrot.png") center center no-repeat;
            background-size: contain;
            transform: translate(-50%, -50%);
            transition: all 1s ease-in-out;
        }
    }

    &.on {
        .carrot {
            display: none;
        }

        .big-carrot {
            display: block;
        }
    }
}

.content {
    position: relative;
    width: 100%;
    height: 100%;

    .area-common {
        display: none;
        position: relative;

        .inner {
            padding: 0 vw(40);
        }

        .cont-title {
            font-size: vw(50);
            font-weight: bold;
            font-family: "TypoCrayonB";
        }

        &._01 {
            .coupon-box {
                position: relative;
                width: vw(500);
                height: vw(300);
                background: var(--clr-secondary);
                margin: auto;
                border-radius: vw(20);

                p {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font-size: vw(40);
                    color: var(--clr-basic);
                    font-family: "TypoCrayonL";

                    strong {
                        color: var(--clr-primary);
                    }
                }

                &::before,
                &:after {
                    display: block;
                    clear: both;
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: vw(60);
                    height: vw(60);
                    border-radius: 50%;
                    background: var(--clr-basic);
                }

                &::before {
                    left: vw(-30);
                }

                &::after {
                    right: vw(-30);
                }
            }

            .btn {
                display: inherit;
                width: vw(500);
                margin: vw(40) auto 0;
            }
        }

        &._02 {
            display: block;

            .swiper {
                &.news {
                    .swiper-slide {
                        width: vw(400);                        
                        border-radius: 10px;

                        .slide-inner {
                            img {
                                margin: auto;
                                filter: blur(1px);
                            }
                        }

                        &:nth-child(odd) {
                            background: pink;
                        }

                        &:nth-child(even) {
                            background: skyblue;
                        }
                    }

                    .swiper-slide-active {
                        .slide-inner {
                            img {
                                filter: blur(0);
                            }
                        }
                    }

                    .swiper-3d .swiper-slide-shadow-left,
                    .swiper-3d .swiper-slide-shadow-right {
                        background-image: none;
                    }
                }
            }
        }
    }
}





@keyframes updown {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(30px);
    }

    50% {
        transform: translateY(-30px);
    }

    75% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}



@media screen and (min-width: 720px) {
    .btn {
        border-radius: 8px;

        &.sm {
            font-size: 24px;
            width: auto;
            height: 20px;
        }

        &.mid {
            font-size: 28px;
            width: 50%;
            height: 30px;
        }

        &.wide {
            font-size: 32px;
            width: 100%;
            height: 80px;
        }
    }

    #header,
    #footer {
        width: 100%;
        max-width: 720px;
        margin: auto;
    }

    #header {
        height: 80px;

        .inner {
            padding: 0 40px;

            .nav {
                .barMenu {
                    width: 28px;
                    height: 20px;

                    .bar {
                        height: 1px;
                        border-radius: 4px;
                    }

                    &:before,
                    &:after {
                        height: 1px;
                    }
                }

                .gnb-wrapper {

                    .gnb-inner {
                        padding: 20px;

                        .closeGnb {
                            width: 30px;
                            height: 30px;
                        }

                        .gnb {
                            li {
                                font-size: 14px;
                                padding: 8px 0;

                                a {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }

            .logo {
                font-size: 12px;
                width: 70px;
            }

            .change-theme {
                .theme-mode {
                    input {
                        border-radius: 22px;
                        width: 50px;
                        height: 30px;

                        &:before {
                            left: 2px;
                            top: 1px;
                            width: 28px;
                            height: 28px;
                        }

                        &:checked {
                            &:before {
                                left: 21px;
                            }
                        }
                    }

                    .mode-text {
                        font-size: 20px;
                        line-height: 22px;
                        padding-left: 5px;
                    }
                }
            }
        }
    }

    #footer {
        height: 90px;
        background: var(--clr-reversal);
        color: var(--clr-basic);
    }

    .visual {
        .carrot_obj_wrap {
            .carrot {
                width: 50px;
                height: 26px;
            }

            .big-carrot {
                width: 200px;
                height: 100px;
            }
        }
    }

    .content {
        .area-common {
            .inner {
                padding: 0 40px;
            }

            .cont-title {
                font-size: 50px;
            }

            &._01 {
                .coupon-box {
                    width: 500px;
                    height: 160px;
                    border-radius: 20px;

                    p {
                        font-size: 40px;
                    }

                    &::before,
                    &:after {
                        width: 60px;
                        height: 60px;
                    }

                    &::before {
                        left: -30px;
                    }

                    &::after {
                        right: -30px;
                    }
                }

                .btn {
                    width: 500px;
                    margin: 40px auto 0;
                }
            }
        }
    }

    .choonsik-lover-wrapper {
        position: relative;
        width: 100%;
        max-width: 720px;
        margin: auto;
    }
}