@charset "UTF-8";
@use 'sass:math';

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Courgette&family=Hi+Melody&family=Playfair+Display+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Courgette&family=Playfair+Display+SC:wght@700&display=swap');

@import "../partials/themes";

@font-face {
    font-family: "TypoCrayonB";
    font-style: normal;
    font-weight: 400;
    src: url("../../src/assets/fonts/Typo_CrayonB.ttf");
}

@font-face {
    font-family: "TypoCrayonL";
    font-style: normal;
    font-weight: 400;
    src: url("../../src/assets/fonts/Typo_CrayonL.ttf");
}

* {
    box-sizing: border-box;
    color: var(--clr-reversal);
    word-break: keep-all;    
}

body {
    background: var(--clr-basic);
}

@function setTextColor($bg, $light, $dark) {
    @if ( lightness($bg) > 50 ) {
        @return $dark;
    } @else {
        @return $light;
    }
}

/* vw 변환 function */
// 함수 정의

$mobile-size: 720;

@function vw($target) {
    @if type-of($target)==number {
        @return (math.div(($target * 100), $mobile-size)) * 1vw;
    }

    @else if type-of($target)==list {
        $vw: ();

        @each $value in $target {
            @if type-of($value)==number {
                $vw: append($vw, (math.div(($value * 100), $mobile-size)) * 1vw);
            }

            @else if type-of($value)==string {
                $vw: append($vw, $value);
            }
        }

        @return $vw;
    }

    @else {
        @return $target;
    }
}

.t-center {
    text-align: center;
}

// 버튼
.btn {
    position: relative;
    border-radius: vw(8);
    font-weight: 500;

    // 형태별 클래스
    &.btn-round {
        border-radius: 50%;
    }

    // 색상별 클래스
    &.btn-primary {
        background: var(--clr-primary);
        color: var(--clr-reversal);
    }

    // 크기별 클래스
    &.sm {
        font-size: vw(24);
        width: auto;
        height: vw(20);
    }

    &.mid {
        font-size: vw(28);
        width: 50%;
        height: vw(30);
    }

    &.wide {
        font-size: vw(26);
        width: 100%;
        height: vw(80);
    }
}

// 말줄임
.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis2 {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 60px;
    background: var(--clr-primary);
    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0 vw(40);

        .nav {
            display: flex;
            align-items: center;

            .barMenu {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                position: relative;
                width: 22px;
                height: 22px; 
                cursor: pointer;

                .bar {
                    display: block;
                    width: 80%;
                    height: 1px;
                    background: var(--clr-reversal);
                    border-radius: vw(4);
                }
            }

            .gnb-wrapper {
                overflow: hidden;
                display: none;
                position: fixed;
                left: 50%;
                top: 0;
                z-index: 5;
                width: 100%;
                max-width: 720px;
                height: 100vh;
                background: var(--clr-yellow);
                transform: translateX(-50%);

                .gnb-inner {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    padding: vw(40);

                    .closeGnb {
                        width: vw(28);
                        height: vw(28);
                        margin-left: auto;

                        .icon {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .gnb {
                        li {                            
                            padding: vw(10) 0;

                            a {
                                font-size: vw(32);
                                font-family: "Hi Melody";
                                color: var(--clr-reversal);
                            }
                        }
                    }
                }
            }
        }

        .logo {            
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 46px;
            height: auto;
            margin: auto;           
        }

        .change-theme {
            .theme-mode {
                display: flex;
                align-items: center;

                input {
                    position: relative;
                    border-radius: vw(22);
                    width: vw(50);
                    height: vw(32);
                    background: transparent;
                    background: var(--clr-secondary);

                    &:before {
                        position: absolute;
                        left: vw(2);
                        top: vw(1);
                        width: vw(28);
                        height: vw(30);
                        content: "";
                        border-radius: 50%;
                        transform: scale(0.8);
                        background-color: var(--clr-gray);
                        transition: left 250ms linear;
                    }

                    &:checked {                        
                        &:before {
                            left: vw(18);                        
                        }
                    }
                }

                .mode-text {
                    font-size: vw(24);
                    text-align: center;
                    line-height: 1.2;
                    padding-right: vw(16);
                }
            }
        }
    }
}

#footer {
    width: 100%;    
    background: var(--clr-gray);

    .inner {   
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: vw(30);        
        .right-box {
            .menu {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                place-items: center;
                gap: vw(20);
                margin: 0;

                li {
                    margin-right: auto;
                    a {
                        display: inline-block;
                        font-size: vw(28);
                        text-align: left;
                    }
                }
            }
        }

        .left-box {
            display: flex;
            color: var(--clr-basic);

            .logo {
                width: vw(100);
                height: auto;
            }

            .copyrignt {
                font-size: vw(24);
                               
            }
        }
    }
}

.wrapper {
    overflow-y: auto;
    position: relative;
    width: 100%;
    max-width: 720px;        
    height: calc(100vh - 60px);
    margin: auto;
}

.area-common {
    position: relative;
    width: 100%;

    .inner {
        padding: vw(40);
    }

    .cont-title-box {
        position: relative;
        width: 100%;

        .cont-title {
            font-size: vw(50);
            font-weight: bold;
            margin-bottom: vw(20);
        }

        .cont-sub-title {
            font-size: vw(24);
            font-weight: 500;
            text-align: center;
            margin-top: vw(30);
        }
    }
    
    &._01 {
        .yt-container {
            position: relative;
            width: 100%;
            max-width: 720px;
            height: 0;
            padding-bottom: 56.25%;      
            margin: auto;                    

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;                
            }
        }                   
    }

    &._02 {
        .cont-box {            
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            color: var(--clr-basic);
            padding: vw(60) 0;

            .img-box {
                display: block;
                width: vw(200);
                height: vw(200);
                transform-style: preserve-3d;
                transition: transform 0.5s;       
                animation: flips 5s linear infinite;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }                             
    }

    @keyframes flips {
        0% {
            transform: rotateY(0);
        }
        50%{
            transform: rotateY(180deg);
        }
        100% {
            transform: rotateY(0);
        }
    }
    
    &._03 {
        .swiper {
            &.introduce {
                margin-bottom: vw(20);

                .swiper-slide {
                    position: relative;
                    width: vw(360);
                    height: vw(520);
                    border-radius: vw(20);
                    padding: vw(20);
                    .slide-inner {      
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;    
                        height: 100%;              
                        img {
                            width: 60%;                            
                            opacity: 0.7;
                            filter: blur(3px);
                        }
                        .slide-text {                                                                           
                            font-size: vw(24);
                            font-weight: bold;
                            transition: all 0.5s ease-in;
                            margin-top: vw(20);
                            .text-line {
                                text-align: center;                                                               
                            }
                        }
                    }

                    &:nth-child(odd) {
                        background: var(--clr-primary);
                    }

                    &:nth-child(even) {
                        background: var(--clr-secondary);
                    }
                }

                .swiper-slide-active {
                    .slide-inner {
                        img {
                            opacity: 1;
                            filter: blur(0);
                        }
                    }
                }

                .swiper-3d .swiper-slide-shadow-left,
                .swiper-3d .swiper-slide-shadow-right {
                    background-image: none;
                }
            }
        }
        .swiper-pagination {
            z-index: inherit;
            padding: vw(20) 0;
        }
    }

    &._04 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: var(--clr-yellow);
        padding: vw(30) 0;
        .bg-hole {
            overflow: hidden;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;      

            span {
                display: block;
                border-radius: 50%;
                transform-origin: center center;
                animation: shrinkingCircle 3s ease-in-out infinite;
                margin: auto;            
                &:nth-child(1) {                  
                    width: vw(300);
                    height: vw(300);                      
                    background: var(--clr-primary);                                            
                }

                &:nth-child(2) {
                    width: vw(200);
                    height: vw(200);                  
                    background: var(--clr-secondary);
                    animation-delay: 0.5s;
                }
            }
        }
        .cont-title-box {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: vw(20) 0;
            .cont-title {
                font-size: vw(30);
                margin-bottom: vw(10);
            }
            .btn {
                font-size: vw(22);
                width: auto;
                height: auto;
                padding: vw(12) vw(24);
                background: var(--clr-reversal);
                color: var(--clr-basic);
                cursor: pointer;
            }
        }      
    }

    @keyframes shrinkingCircle {
        0% {
            opacity: 0.1;
            transform: scale(0.1);
        }

        50% {
            opacity: 1;
            transform: scale(1);
        }

        100% {
            opacity: 0.1;
            transform: scale(0.1);
        }
    }
}

.dimm {
    display: none;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba($color: #ffffff, $alpha: 0.8);
    transition: all 0.5s ease-in-out;
    &.show {
        display: block;
    }
}

.alert-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 5;    
    max-width: 720px;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
   
    p {
        width: max-content;
        font-size: vw(28);
        text-align: center;
        background: var(--clr-reversal);    
        color: var(--clr-basic);
        padding: vw(24);
        margin-bottom: 0;
        border-radius: vw(14);
    }
    &.show {
        display: block;
    }
}


.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    position: inherit;
}

.swiper-pagination-bullet {
    opacity: 1;
    width: vw(24);
    height: vw(24);
    background: var(--clr-gray);   

    &.swiper-pagination-bullet-active {
        transform: scale(1.02);         
        background: var(--clr-yellow);    
    }
}


@media screen and (min-width: 720px) {
    .btn {
        border-radius: 8px;

        &.sm {
            font-size: 24px;
            width: auto;
            height: 20px;
        }

        &.mid {
            font-size: 28px;
            width: 50%;
            height: 30px;
        }

        &.wide {
            font-size: 26px;
            width: 100%;
            height: 80px;
        }
    }

    #header,
    #footer {
        width: 100%;
        max-width: 720px;
        margin: auto;
    }

    #header {
        height: 80px;

        .inner {
            padding: 0 40px;

            .nav {
                .barMenu {
                    width: 28px;
                    height: 20px;

                    .bar {
                        height: 2px;
                        border-radius: 4px;
                    }
                }

                .gnb-wrapper {
                    .gnb-inner {
                        padding: 40px;

                        .closeGnb {
                            width: 28px;
                            height: 28px;
                        }

                        .gnb {
                            li {
                                padding: 10px 0;

                                a {
                                    font-size: 32px;
                                }
                            }
                        }
                    }
                }
            }

            .logo {
                width: 64px;
            }

            .change-theme {
                .theme-mode {
                    input {
                        border-radius: 22px;
                        width: 50px;
                        height: 30px;

                        &:before {
                            left: 2px;
                            top: 1px;
                            width: 28px;
                            height: 28px;
                        }

                        &:checked {
                            &:before {
                                left: 21px;
                            }
                        }
                    }

                    .mode-text {
                        font-size: 24px;
                        padding-right: 16px;
                    }
                }
            }
        }
    }    

    #footer {            
        .inner {
            padding: 30px;
    
            .right-box {
                .menu {
                    gap: 20px;
                    li {
                        a {
                            font-size: 20px;
                        }
                    }
                }
            }
    
            .left-box {
                .logo {
                    width: 100px;                    
                }
    
                .copyrignt {
                    font-size: 18px;
                }
            }
        }
    }

    .content {
        .area-common {
            .inner {
                padding: 40px;
            }

            .cont-title {
                font-size: 50px;
                margin-bottom: 20px;
            }

            .cont-sub-title {
                font-size: 24px;
                margin-bottom: 30px;
            }
           

            &._02 {
                .cont-box {
                    padding: 60px 0;
                    .img-box {
                        width: 200px;
                        height: 200px;
                    }
                }                
            }

            &._03 {                               
                .swiper {
                    &.introduce {
                        margin-bottom: 20px;
        
                        .swiper-slide {
                            width: 360px;
                            height: 520px;
                            border-radius: 20px;
                            padding: 20px;      
                            .slide-inner {
                                .slide-text {     
                                    font-size: 24px;
                                    margin-top: 20px;
                                }
                            }                  
                        }
                    }
                }
                .swiper-pagination {
                    padding: 20px 0;
                }
            }

            &._04 {
                padding: 30px 0;
            }
        }
    }

    .wrapper {                
        height: calc(100vh - 80px);           
    }

    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
    }

    .alert-popup {     
        p {
            font-size: 28px;
            border-radius: 14px;
            padding: 24px;
        }
    }
}