@charset "UTF-8";

@use 'sass:math';

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Courgette&family=Hi+Melody&family=Playfair+Display+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Courgette&family=Playfair+Display+SC:wght@700&display=swap');

@import "../partials/themes";

@font-face {
    font-family: "TypoCrayonB";
    font-style: normal;
    font-weight: 400;
    src: url("../../src/assets/fonts/Typo_CrayonB.ttf");
}

@font-face {
    font-family: "TypoCrayonL";
    font-style: normal;
    font-weight: 400;
    src: url("../../src/assets/fonts/Typo_CrayonL.ttf");
}

* {
    font-family: "TypoCrayonL";
    box-sizing: border-box;
    color: var(--clr-reversal);
}

body {
    background: var(--clr-basic);
}



/* vw 변환 function */
// 함수 정의

$mobile-size: 720;

@function vw($target) {
    @if type-of($target)==number {
        @return (math.div(($target * 100), $mobile-size)) * 1vw;
    }

    @else if type-of($target)==list {
        $vw: ();

        @each $value in $target {
            @if type-of($value)==number {
                $vw: append($vw, (math.div(($value * 100), $mobile-size)) * 1vw);
            }

            @else if type-of($value)==string {
                $vw: append($vw, $value);
            }
        }

        @return $vw;
    }

    @else {
        @return $target;
    }
}

.t-center {
    text-align: center;
}

// 버튼
.btn {
    position: relative;
    border-radius: vw(8);
    font-weight: 500;

    // 형태별 클래스
    &.btn-round {
        border-radius: 50%;
    }

    // 색상별 클래스
    &.btn-primary {
        background: var(--clr-primary);
        color: var(--clr-reversal);
    }

    // 크기별 클래스
    &.sm {
        font-size: vw(24);
        width: auto;
        height: vw(20);
    }

    &.mid {
        font-size: vw(28);
        width: 50%;
        height: vw(30);
    }

    &.wide {
        font-size: vw(26);
        width: 100%;
        height: vw(80);
    }
}

// 말줄임
.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis2 {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}




#header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: vw(120);
    background: var(--clr-primary);

    .inner {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 vw(40);

        .nav {
            display: flex;
            align-items: center;

            .barMenu {
                display: flex;
                align-items: center;
                position: relative;
                width: vw(48);
                height: vw(34);
                background: transparent;

                .bar {
                    display: block;
                    width: 80%;
                    height: vw(2);
                    background: var(--clr-reversal);
                    border-radius: vw(4);
                }

                &:before,
                &:after {
                    display: block;
                    clear: both;
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: vw(1);
                    background: var(--clr-reversal);
                }

                &:before {
                    top: 0;
                }

                &:after {
                    width: 60%;
                    bottom: 0;
                }
            }

            .gnb-wrapper {
                overflow: hidden;
                display: none;
                position: fixed;
                left: 0;
                top: 0;
                z-index: 5;
                width: 100vw;
                height: 100vh;
                background: var(--clr-basic);

                .gnb-inner {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    padding: vw(40);

                    .closeGnb {
                        width: vw(40);
                        height: vw(40);

                        .icon {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .gnb {
                        li {
                            font-size: vw(28);
                            padding: vw(16) 0;

                            a {
                                font-size: vw(36);
                                font-family: "Hi Melody";
                            }
                        }
                    }
                }
            }
        }

        .logo {
            font-size: vw(12);
            margin: auto;
            width: vw(100);
            height: auto;

            img {
                width: 100%;
            }
        }

        .change-theme {
            .theme-mode {
                display: flex;
                align-items: center;

                input {
                    position: relative;
                    border-radius: vw(22);
                    width: vw(50);
                    height: vw(30);
                    background: transparent;
                    background: #d0c301;

                    &:before {
                        position: absolute;
                        left: vw(2);
                        top: vw(1);
                        width: vw(28);
                        height: vw(28);
                        content: "";
                        border-radius: 50%;
                        transform: scale(0.8);
                        background-color: var(--clr-primary);
                        transition: left 250ms linear;
                    }

                    &:checked {
                        background: gray;

                        &:before {
                            left: vw(21);
                            background: #ffffff;
                        }
                    }
                }

                .mode-text {
                    font-size: vw(20);
                    line-height: vw(22);
                    text-align: center;
                    padding-left: vw(5);
                }
            }
        }
    }
}

#footer {
    display: none;
    width: 100%;
    height: vw(90);
    background: var(--clr-reversal);
    color: var(--clr-basic);
}

.visual {
    position: relative;
    width: 100%;
    height: calc(100vh - 160px);
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;

    .carrot_obj_wrap {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all 1s ease-in-out;

        .carrot {
            display: block;
            position: absolute;
            width: vw(50);
            height: vw(26);
            animation: updown 5s linear infinite;
            transition: all 1s ease-in-out;
            background: url("../../src/assets/images/carrot.png") center center no-repeat;
            background-size: contain;

            &:nth-child(1) {
                left: 10%;
                top: 10%;
            }

            &:nth-child(2) {
                left: 70%;
                top: 50%;
            }

            &:nth-child(3) {
                left: 20%;
                top: 30%;
            }

            &:nth-child(4) {
                left: 50%;
                top: 70%;
            }

            &:nth-child(5) {
                left: 20%;
                top: 60%;
            }
        }

        .big-carrot {
            display: none;
            position: absolute;
            left: 50%;
            top: 50%;
            width: vw(500);
            height: vw(250);
            background: url("../../src/assets/images/carrot.png") center center no-repeat;
            background-size: contain;
            transform: translate(-50%, -50%);
            transition: all 1s ease-in-out;
        }
    }

    &.on {
        .carrot {
            display: none;
        }

        .big-carrot {
            display: block;
        }
    }
}

.content {
    position: relative;
    width: 100%;
    height: 100%;

    .area-common {
        position: relative;

        .inner {
            padding: vw(40);
        }

        .cont-title {
            font-size: vw(50);
            font-weight: bold;
            font-family: "TypoCrayonB";
            margin-bottom: vw(20);
        }

        .cont-sub-title {
            font-size: vw(24);
            font-weight: 500;
            font-family: "TypoCrayonL";
            text-align: center;
            margin-bottom: vw(30);
        }

        &._01 {
            display: block;

            .coupon-box {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: vw(500);
                height: vw(300);
                background: var(--clr-secondary);
                margin: auto;
                border-radius: vw(20);

                .coupon-name {
                    display: inline-block;
                    font-size: vw(24);
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: vw(20);
                    color: var(--clr-basic);
                }

                .percentage {
                    font-size: vw(40);
                    color: var(--clr-basic);
                    font-family: "TypoCrayonL";

                    strong {
                        font-size: vw(80);
                        color: var(--clr-primary);
                    }
                }

                &::before,
                &:after {
                    display: block;
                    clear: both;
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: vw(60);
                    height: vw(60);
                    border-radius: 50%;
                    background: var(--clr-basic);
                }

                &::before {
                    left: vw(-30);
                }

                &::after {
                    right: vw(-30);
                }
            }

            .btn {
                display: inherit;
                width: vw(500);
                margin: vw(40) auto 0;
            }
        }

        &._02 {
            .inner {
                padding: vw(40) 0;
            }

            .swiper {
                &.news {
                    margin-bottom: vw(20);

                    .swiper-slide {
                        width: vw(400);
                        border-radius: vw(20);

                        .slide-inner {
                            img {
                                margin: auto;
                                filter: blur(1px);
                            }
                        }

                        &:nth-child(odd) {
                            background: pink;
                        }

                        &:nth-child(even) {
                            background: skyblue;
                        }
                    }

                    .swiper-slide-active {
                        .slide-inner {
                            img {
                                filter: blur(0);
                            }
                        }
                    }

                    .swiper-3d .swiper-slide-shadow-left,
                    .swiper-3d .swiper-slide-shadow-right {
                        background-image: none;
                    }
                }
            }
        }

        &._03 {
            .inner {
                padding: vw(40) 0;
            }

            .brand {
                position: relative;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                padding: vw(50);

                .brand-item {
                    overflow: hidden;
                    position: relative;
                    width: 50%;
                    height: vw(300);
                    flex: 1 1 200px;
                    flex-shrink: 0;
                    object-fit: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    transition: 0.5s;
                    cursor: pointer;

                    .circle-light {
                        top: 0px;
                        left: 0px;
                        opacity: 0;
                        content: '';
                        width: 100%;
                        height: 100%;
                        display: block;
                        transition: 0.5s;
                        position: absolute;
                        border-radius: vw(20);
                        background: radial-gradient(circle at 80px 40px, #fff, transparent);
                    }

                    .brand-img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        z-index: 1;
                    }

                    &:hover {
                        box-shadow: 0px 0px vw(140) #111;

                        .circle-light {
                            opacity: 0.4;
                        }
                    }
                }
            }
        }

        &._04 {
            .tag {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                margin-bottom: vw(30);

                .tag-box {
                    display: inline-block;
                    background: var(--clr-primary);
                    min-width: vw(80);
                    font-size: vw(24);
                    font-family: "TypoCrayonB";
                    text-align: center;
                    padding: vw(20);
                    border-radius: vw(40);
                    margin: vw(4);
                }
            }

            .new {
                display: grid;
                grid-template-columns: 1fr 1fr;
                place-items: center;
                gap: vw(20);
                position: relative;

                .new-item {
                    margin-bottom: auto;

                    .new-img {
                        height: vw(400);

                        img {
                            object-fit: cover;
                        }
                    }

                    .date {
                        display: block;
                        margin-top: vw(20);
                        font-size: vw(24);
                        font-weight: 500;
                    }

                    .title {
                        font-size: vw(32);
                        font-weight: 500;
                        white-space: normal;
                        word-break: break-all;
                    }
                }
            }
        }

        &._05 {
            background: var(--clr-primary);

            .alarm {
                padding: vw(50);

                .text {
                    font-size: vw(28);
                    font-weight: 500;
                    text-align: center;
                }

                .follow-counter {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: vw(20);
                    margin-top: vw(20);

                    p {
                        font-weight: 500;
                    }

                    .btn-q {
                        position: relative;
                        background-color: transparent;
                        margin-left: vw(10);

                        .blind {
                            display: block;
                            width: vw(30);
                            height: vw(30);
                            font-size: 0;
                            background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm169.8-90.7c7.9-22.3 29.1-37.3 52.8-37.3h58.3c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24V250.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1H222.6c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z'/%3E%3C/svg%3E");
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: 100% auto;
                        }

                        .q-box {
                            display: none;
                            position: absolute;
                            left: 0;
                            top: vw(39);                            
                            min-width: vw(230);
                            font-size: vw(22);
                            text-align: left;
                            background: var(--clr-basic);
                            box-shadow: 0 0 vw(40) var(--clr-reversal);
                            border-radius: vw(20);
                            padding: vw(20);
                        }
                    }
                }

                .btn-wrap {
                    display: flex;
                    align-items: center;
                    width: vw(500);
                    margin: vw(40) auto 0;

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-shrink: 0;
                        height: vw(80);
                        font-size: vw(28);
                        border-radius: vw(24);
                        background: var(--clr-secondary);

                        >span {
                            color: var(--clr-basic);
                            margin-right: vw(10);
                        }

                        .icon {
                            display: block;
                            width: vw(30);
                            height: vw(30);
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: contain;
                        }

                        &.btn-alarm {
                            flex: 1;
                            margin-right: vw(20);
                            font-weight: 500;
                        }

                        &.btn-share {
                            width: vw(80);
                            font-size: 0;
                        }
                    }
                }
            }
        }

        &.testbox {
            display: block;

            .radio-test {
                accent-color: magenta;
            }

            .scroll-container,
            .scroll-area {
                max-width: 850px;
                height: 300px;
                font-size: 60px;
            }

            .scroll-container {
                overflow: auto;
                scroll-snap-type: y mandatory;
                height: 500px;
            }

            .scroll-area {
                scroll-snap-align: start;
            }

            .scroll-container,
            .scroll-area {
                margin: 0 auto;
            }

            .scroll-area {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
            }

            .scroll-area:nth-of-type(1) {
                background: IndianRed;
            }

            .scroll-area:nth-of-type(2) {
                background: Moccasin;
            }

            .scroll-area:nth-of-type(3) {
                background: thistle;
            }

            .scroll-area:nth-of-type(4) {
                background: seagreen;
            }
        }
    }
}



@keyframes updown {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(30px);
    }

    50% {
        transform: translateY(-30px);
    }

    75% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    position: inherit;
}

.swiper-pagination-bullet {
    width: vw(50);
    height: vw(20);
    border: vw(4) solid var(--clr-reversal);
    border-radius: vw(10);

    &.swiper-pagination-bullet-active {
        background: var(--clr-primary);
    }
}


@media screen and (min-width: 720px) {
    .btn {
        border-radius: 8px;

        &.sm {
            font-size: 24px;
            width: auto;
            height: 20px;
        }

        &.mid {
            font-size: 28px;
            width: 50%;
            height: 30px;
        }

        &.wide {
            font-size: 26px;
            width: 100%;
            height: 80px;
        }
    }

    #header,
    #footer {
        width: 100%;
        max-width: 720px;
        margin: auto;
    }

    #header {
        height: 80px;

        .inner {
            padding: 0 40px;

            .nav {
                .barMenu {
                    width: 28px;
                    height: 20px;

                    .bar {
                        height: 1px;
                        border-radius: 4px;
                    }

                    &:before,
                    &:after {
                        height: 1px;
                    }
                }

                .gnb-wrapper {

                    .gnb-inner {
                        padding: 20px;

                        .closeGnb {
                            width: 30px;
                            height: 30px;
                        }

                        .gnb {
                            li {
                                font-size: 28px;
                                padding: 16px 0;

                                a {
                                    font-size: 36px;
                                }
                            }
                        }                        
                    }
                }
            }

            .logo {
                font-size: 12px;
                width: 70px;
            }

            .change-theme {
                .theme-mode {
                    input {
                        border-radius: 22px;
                        width: 50px;
                        height: 30px;

                        &:before {
                            left: 2px;
                            top: 1px;
                            width: 28px;
                            height: 28px;
                        }

                        &:checked {
                            &:before {
                                left: 21px;
                            }
                        }
                    }

                    .mode-text {
                        font-size: 20px;
                        line-height: 22px;
                        padding-left: 5px;
                    }
                }
            }
        }
    }

    #footer {
        height: 90px;
        background: var(--clr-reversal);
        color: var(--clr-basic);
    }

    .visual {
        height: calc(100vh - 80px);

        .carrot_obj_wrap {
            .carrot {
                width: 50px;
                height: 26px;
            }

            .big-carrot {
                width: 500px;
                height: 250px;
            }
        }
    }

    .content {
        .area-common {
            .inner {
                padding: 40px;
            }

            .cont-title {
                font-size: 50px;
                margin-bottom: 20px;
            }

            .cont-sub-title {
                font-size: 24px;
                margin-bottom: 30px;
            }

            &._01 {
                .coupon-box {
                    width: 500px;
                    height: 300px;
                    border-radius: 20px;


                    .coupon-name {
                        font-size: 24px;
                    }

                    .percentage {
                        font-size: 40px;

                        strong {
                            font-size: 80px;
                        }
                    }

                    &::before,
                    &:after {
                        width: 60px;
                        height: 60px;
                    }

                    &::before {
                        left: -30px;
                    }

                    &::after {
                        right: -30px;
                    }
                }

                .btn {
                    width: 500px;
                    margin: 40px auto 0;
                }
            }

            &._02 {
                .inner {
                    padding: 40px 0;
                }

                .swiper {
                    &.news {
                        margin-bottom: 20px;

                        .swiper-slide {
                            width: 400px;
                            border-radius: 20px;
                        }
                    }
                }
            }

            &._03 {
                .inner {
                    padding: 40px 0;
                }

                .brand {
                    padding: 50px;

                    .brand-item {
                        height: 300px;

                        .circle-light {
                            border-radius: 20px;
                        }

                        &:hover {
                            box-shadow: 0px 0px 140px #111;

                            .circle-light {
                                opacity: 0.4;
                            }
                        }
                    }
                }
            }

            &._04 {
                .tag {
                    margin-bottom: 30px;

                    .tag-box {
                        min-width: 80px;
                        font-size: 24px;
                        padding: 20px;
                        border-radius: 40px;
                        margin: 4px;
                    }
                }

                .new {
                    gap: 20px;

                    .new-item {
                        .new-img {
                            height: 400px;
                        }

                        .date {
                            margin-top: 20px;
                            font-size: 24px;
                        }

                        .title {
                            font-size: 32px;
                        }
                    }
                }
            }

            &._05 {
                .alarm {
                    padding: 50px;

                    .text {
                        font-size: 28px;
                    }

                    .follow-counter {
                        font-size: 20px;
                        margin-top: 20px;

                        .btn-q {
                            margin-left: 10px;

                            .blind {
                                width: 30px;
                                height: 30px;
                            }

                            .q-box {
                                top: 39px;
                                min-width: 230px;
                                font-size: 22px;
                                box-shadow: 0 0 40px var(--clr-reversal);
                                border-radius: 20px;
                                padding: 20px;
                            }
                        }
                    }

                    .btn-wrap {
                        width: 500px;
                        margin: 40px auto 0;

                        button {
                            height: 80px;
                            font-size: 28px;
                            border-radius: 24px;

                            >span {
                                margin-right: 10px;
                            }

                            .icon {
                                width: 30px;
                                height: 30px;
                            }

                            &.btn-alarm {
                                margin-right: 20px;
                            }

                            &.btn-share {
                                width: 80px;
                            }
                        }
                    }
                }
            }
        }
    }

    .choonsik-lover-wrapper {
        position: relative;
        width: 100%;
        max-width: 720px;
        margin: auto;
    }

    .swiper-pagination-bullet {
        width: 50px;
        height: 20px;
        border: 4px solid var(--clr-reversal);
        border-radius: 10px;
    }
}