@charset "UTF-8";
@use 'sass:math';

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Courgette&family=Hi+Melody&family=Playfair+Display+SC:wght@700&display=swap');

$mobile-size: 720;

/* vw 변환 function */
@function vw($target) {
    @if type-of($target)==number {
        @return (math.div(($target * 100), $mobile-size)) * 1vw;
    }

    @else if type-of($target)==list {
        $vw: ();

        @each $value in $target {
            @if type-of($value)==number {
                $vw: append($vw, (math.div(($value * 100), $mobile-size)) * 1vw);
            }

            @else if type-of($value)==string {
                $vw: append($vw, $value);
            }
        }

        @return $vw;
    }

    @else {
        @return $target;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1
    }
}

@keyframes twinkle {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes scaleEffect {
    0% {
        transform: scale(0);
        color: var(--clr-basic);
    }

    25% {
        transform: scale(1.1);
        color: var(--clr-secondary--400);
    }

    75% {
        transform: scale(1.1);
        color: var(--clr-secondary--400);
    }

    100% {
        transform: scale(0);
        color: var(--clr-basic);
    }
}

@keyframes catch {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

.music-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--clr-basic);
    .music-title {
        font-size: vw(28);
        text-align: center;
        font-weight: bold;
        padding: vw(20) 0;    
    }
}
.music-progress-wrap {
    .music-progress {
        position: relative;
        max-width: vw(400);
        max-height: vw(400);

        .outside-circle {            
            stroke: var(--clr-secondary);
        }

        .inside-circle {            
            transform: rotate(-90deg);
            transform-origin: center;
            transition: all 0.2s linear;            
        }

        text {
            position: absolute;
            left: 0;
            top: 0;
            font-size: vw(80);
            fill: var(--clr-basic);
        }        
    }
    
    .play-btn {
        width: fit-content;                
        margin: auto;
        cursor: pointer;      
    }
}

$drop-shadow: vw(12) vw(12) 30px 5px rgba(255, 255, 255, 0.9),
    vw(12) vw(12) 30px 5px rgba(50, 58, 73, 0.2);

$inset-shadow: inset vw(12) vw(12) 30px 5px rgba(255, 255, 255, 0.9),
    inset vw(12) vw(12) 30px 5px rgba(50, 58, 73, 0.2);

.model-choonsik {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--clr-middle);
    padding: vw(50) 0;

    .dancer-choonsik {
        font-size: vw(28);
        font-family: 'Shantell Sans', cursive;
        text-transform: uppercase;
        text-align: center;
        color: var(--clr-primary);
        z-index: 1;
    }

    .model-choonsik-photo {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: vw(40) 0;       

        .choonsik-photo {
            display: none;            
            width: vw(380);
            height: vw(540);
            border: vw(20) solid;
            border-image: linear-gradient(#c1f112, #7eeebc) 30;
            
            img {      
                object-fit: cover;
            }

            &.show {
                display: block;
            }
        }
    }

    .photo-type-button-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        z-index: 1;

        --btn-duration-slow: 2s;
        --btn-duration-normal: 3s;
        --btn-duration-fast: 5s;
        --btn-default-color: #7cfc00;
        --btn-lime-color: #e2ff6f;
        --btn-ivory-color: #ffffdf;

        .btn-photo {
            position: relative;
            width: vw(150);
            flex-shrink: 0;
            font-size: vw(18);
            padding: vw(10) 0;
            border-radius: vw(5);
            border-width: 0;
            background-color: transparent;
            transition: all .25s;
            cursor: pointer;

            &.btn-neon {
                color: var(--btn-default-color);
                overflow: hidden;

                span {
                    position: absolute;
                    transition: all .25s;
                    animation-duration: var(--btn-duration-slow);
                    animation-iteration-count: infinite;

                    &:nth-child(1) {
                        top: 0;
                        left: -100%;
                        width: 100%;
                        height: vw(2);
                        background: linear-gradient(90deg, transparent 30%, var(--btn-default-color));
                        animation-name: btn-neon-border-top;
                    }

                    &:nth-child(2) {
                        right: 0;
                        top: -100%;
                        width: vw(2);
                        height: 100%;
                        background: linear-gradient(180deg, transparent 30%, var(--btn-default-color));
                        animation-name: btn-neon-border-right;
                        animation-delay: calc(var(--btn-duration-slow) / 4);
                    }

                    &:nth-child(3) {
                        right: -100%;
                        bottom: 0;
                        width: 100%;
                        height: vw(2);
                        background: linear-gradient(270deg, transparent 30%, var(--btn-default-color));
                        animation-name: btn-neon-border-bottom;
                        animation-delay: calc(var(--btn-duration-slow) / 4 * 2);
                    }

                    &:nth-child(4) {
                        bottom: -100%;
                        left: 0;
                        width: vw(2);
                        height: 100%;
                        background: linear-gradient(360deg, transparent 30%, var(--btn-default-color));
                        animation-name: btn-neon-border-left;
                        animation-delay: calc(var(--btn-duration-slow) / 4 * 3);
                    }
                }

                &:hover,
                &.on {
                    background-color: var(--btn-default-color);
                    color: #151515;

                    &.btn-neon {
                        color: #151515;
                        box-shadow: 0 0 10px var(--btn-default-color),
                            0 0 30px var(--btn-default-color),
                            0 0 50px var(--btn-default-color);
                    }
                }

                &.btn-lime {
                    color: var(--btn-lime-color);

                    span {
                        animation-duration: var(--btn-duration-normal);

                        &:nth-child(1) {
                            background: linear-gradient(90deg, transparent 30%, var(--btn-lime-color));
                        }

                        &:nth-child(2) {
                            background: linear-gradient(180deg, transparent 30%, var(--btn-lime-color));
                            animation-delay: calc(var(--btn-duration-normal) / 4);
                        }

                        &:nth-child(3) {
                            background: linear-gradient(270deg, transparent 30%, var(--btn-lime-color));
                            animation-delay: calc(var(--btn-duration-normal) / 4 * 2);
                        }

                        &:nth-child(4) {
                            background: linear-gradient(360deg, transparent 30%, var(--btn-lime-color));
                            animation-delay: calc(var(--btn-duration-normal) / 4 * 3);
                        }
                    }

                    &:hover,
                    &.on {
                        background-color: var(--btn-lime-color);

                        &.btn-neon {
                            box-shadow: 0 0 10px var(--btn-lime-color),
                                0 0 30px var(--btn-lime-color),
                                0 0 50px var(--btn-lime-color);
                        }
                    }
                }

                &.btn-ivory {
                    color: var(--btn-ivory-color);

                    span {
                        &:nth-child(1) {
                            background: linear-gradient(90deg, transparent 30%, var(--btn-ivory-color));
                        }

                        &:nth-child(2) {
                            background: linear-gradient(180deg, transparent 30%, var(--btn-ivory-color));
                        }

                        &:nth-child(3) {
                            background: linear-gradient(270deg, transparent 30%, var(--btn-ivory-color));
                        }

                        &:nth-child(4) {
                            background: linear-gradient(360deg, transparent 30%, var(--btn-ivory-color));
                        }
                    }

                    &:hover,
                    &.on {
                        background-color: var(--btn-ivory-color);

                        &.btn-neon {
                            box-shadow: 0 0 10px var(--btn-ivory-color),
                                0 0 30px var(--btn-ivory-color),
                                0 0 50px var(--btn-ivory-color);
                        }
                    }
                }

                &.btn-slow {
                    span {
                        animation-duration: var(--btn-duration-slow);

                        &:nth-child(2) {
                            animation-delay: calc(var(--btn-duration-slow) / 4);
                        }

                        &:nth-child(3) {
                            animation-delay: calc(var(--btn-duration-slow) / 4 * 2);
                        }

                        &:nth-child(4) {
                            animation-delay: calc(var(--btn-duration-slow) / 4 * 3);
                        }
                    }
                }

                &.btn-normal {
                    span {
                        animation-duration: var(--btn-duration-normal);

                        &:nth-child(2) {
                            animation-delay: calc(var(--btn-duration-normal) / 4);
                        }

                        &:nth-child(3) {
                            animation-delay: calc(var(--btn-duration-normal) / 4 * 2);
                        }

                        &:nth-child(4) {
                            animation-delay: calc(var(--btn-duration-normal) / 4 * 3);
                        }
                    }
                }

                &.btn-fast {
                    span {
                        animation-duration: var(--btn-duration-fast);

                        &:nth-child(2) {
                            animation-delay: calc(var(--btn-duration-fast) / 4);
                        }

                        &:nth-child(3) {
                            animation-delay: calc(var(--btn-duration-fast) / 4 * 2);
                        }

                        &:nth-child(4) {
                            animation-delay: calc(var(--btn-duration-fast) / 4 * 3);
                        }
                    }
                }

                &:hover {
                    color: #ece8e8;
                }
            }

            &:nth-child(even) {
                margin: 0 vw(12);
            }

            &:last-child {
                margin: 0;
            }
        }
    }
}


@keyframes floating {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(vw(30));
    }

    50% {
        transform: translateY(vw(-30));
    }

    75% {
        transform: translateY(vw(30));
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes btn-neon-border-top {
    from {
        left: -100%;
    }

    to {
        left: 100%;
    }
}

@keyframes btn-neon-border-right {
    from {
        top: -100%;
    }

    to {
        top: 100%;
    }
}

@keyframes btn-neon-border-bottom {
    from {
        right: -100%;
    }

    to {
        right: 100%;
    }
}

@keyframes btn-neon-border-left {
    from {
        bottom: -100%;
    }

    to {
        bottom: 100%;
    }
}

#lovelyChoonsik {
    font-size: vw(40);
    width: 100%;
    margin: auto;
}

.choonsik-diary-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: calc(100% - 56px);
    font-family: "TypoCrayonB";

    .choonsik-diary {
        position: relative;
        display: flex;
        align-items: center;
        width: 300vw;
        height: 100%;
        transition: all 1s linear;
        font-family: "TypoCrayonB";

        .diary-page {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-shrink: 0;
            position: relative;
            width: 100vw;
            max-width: 720px;
            height: 100%;

            .paper-inner {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                padding: vw(56) 0;

                .click-text {
                    display: block;
                    animation: twinkle 3s ease-in-out, scaleEffect 2s linear infinite;
                    transform-origin: center center;
                    font-weight: bold;
                    text-align: center;
                }

                .paper {
                    display: block;
                    width: 80%;
                    margin: 0 auto;
                    background: var(--clr-basic);

                    img {
                        margin: auto;
                    }
                }

                .diary-text {
                    font-size: vw(32);
                    padding: 0 vw(20);
                    text-align: center;
                    word-break: keep-all;
                    color: #444444;

                    .time {
                        display: block;
                        font-weight: 500;
                        margin-top: vw(14);
                    }

                    .title {
                        font-size: vw(30);
                        font-family: "TypoCrayonB";
                        font-weight: bold;
                        margin: vw(12) 0;
                    }

                    p {
                        font-weight: 500;
                        line-height: vw(42);
                        font-family: "TypoCrayonB";
                    }
                }
            }

            &.diary-page1 {
                background: url("https://png.pngtree.com/thumb_back/fw800/background/20220217/pngtree-crayon-texture-blue-sky-and-white-clouds-background-image_941874.jpg") center center repeat;
                background-size: cover;
            }

            &.diary-page2 {
                background: url("https://png.pngtree.com/thumb_back/fw800/background/20220217/pngtree-crayon-texture-blue-sky-and-white-clouds-background-image_941874.jpg") center center repeat;
                background-size: cover;

                .paper-inner {
                    justify-content: center;
                    padding: 0;

                    .condition-title {
                        font-size: vw(40);
                        font-family: "TypoCrayonB";
                        font-weight: 500;
                    }
                }

                .choonsik-condition-container {
                    overflow: hidden;
                    width: 100%;
                    margin: vw(20) 0;

                    .choonsik-condition {
                        overflow-y: auto;
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        padding: 0 vw(20);

                        .condition-face {
                            flex-shrink: 0;
                            width: vw(80);
                            height: vw(80);
                            background: #fffce2;
                            margin-right: vw(16);
                            border-radius: vw(16);
                            transition: all 0.5s ease-in-out;                            

                            .btn-face {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                height: 100%;
                                font-size: vw(40);
                            }

                            &:last-of-type {
                                margin-right: 0;
                            }

                            &.on {
                                background: #00B2FF;                                
                            }
                        }

                        &::-webkit-scrollbar {
                            display: none;
                        }
                    }
                }

                .diary-text-wrap {
                    position: relative;
                    width: 90%;
                    padding: 0 vw(20);
                    margin-left: vw(-20);

                    .diary-text {
                        width: 100%;
                        background: var(--clr-basic);
                        border: vw(2) solid #1DB6E9;
                        border-radius: vw(20);
                        padding: vw(40) vw(20);
                        box-shadow:
                            var(--clr-basic) vw(10) vw(-10) 0 vw(-3),
                            #1DB6E9 vw(10) vw(-10) 0 vw(-1),
                            var(--clr-basic) vw(20) vw(-20) 0 vw(-3),
                            #1DB6E9 vw(20) vw(-20) 0 vw(-1);

                        .big-face-box {
                            font-size: vw(50);
                            margin: auto;
                            transition: all 0.5s ease-in-out;
                            animation: catch 1s ease-in-out infinite;
                        }

                        .condition-text {
                            p {
                                display: none;

                                &.on {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }

            &.diary-page3 {
                background: var(--clr-secondary);
                font-family: "TypoCrayonB";

                .paper-inner {
                    justify-content: center;

                    .paper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        background: var(--clr-secondary);

                        .cut-photo {
                            display: block;
                            width: calc(50% - 16px);
                            height: vw(180);
                            margin: vw(4);

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    .cut-photo-text {
                        font-size: vw(36);
                        font-family: "TypoCrayonB";
                        color: var(--clr-reversal);
                        margin-top: vw(20);
                    }
                }
            }
        }
    }
}

.choonsik-condition-btn {
    position: fixed;
    left: 50%;
    bottom: 0;
    z-index: 1;
    width: 100%;
    max-width: 720px;    
    transform: translateX(-50%);
    background: var(--clr-yellow);
    
    &.btn-prev {
        position: absolute;
        left: 10%;
        top: vw(60);
        width: vw(60);
        height: vw(60);
        font-size: vw(36);
        color: #fff227;
        background: var(--clr-middle);
        border-radius: 50%;
        transform: translate(0);
    }

    &.btn-next {                
        height: 56px;
        font-size: vw(36);
        font-weight: bold;
        letter-spacing: vw(1.2);
        text-transform: uppercase;                
    }
}

[data-theme="dark"] {
    .choonsik-diary-container {
        .choonsik-diary .diary-page {
            &.diary-page1, &.diary-page2 {
                background: url("https://png.pngtree.com/thumb_back/fh260/background/20220215/pngtree-cartoon-sky-planet-crayon-texture-painting-background-image_924779.jpg") center center repeat;
            }

            &.diary-page2 .choonsik-condition-container .choonsik-condition .condition-face.on {
                background: #19485d;
            }
        }        
    }
}

@media screen and (min-width: 720px) {
    .music-container {        
        .music-title {
            font-size: 28px;   
            padding: 20px 0;         
        }
    }

    .model-choonsik {
        padding: 50px 0;
    
        .dancer-choonsik {
            font-size: 28px;            
        }
    
        .model-choonsik-photo {
            margin: 40px 0;
    
            .choonsik-photo {
                width: 380px;
                height: 540px;
                border: 20px solid;       
                border-image: linear-gradient(#c1f112, #7eeebc) 30;                                         
            }
        }
    
        .photo-type-button-wrap {
            .btn-photo {
                width: 150px;
                font-size: 18px;
                padding: 10px 0;
                border-radius: 5px;                
    
                &.btn-neon {
                    span {
                        &:nth-child(1) {
                            height: 2px;                            
                        }
    
                        &:nth-child(2) {
                            width: 2px;
                        }
    
                        &:nth-child(3) {
                            height: 2px;
                        }
    
                        &:nth-child(4) {
                            width: 2px;
                        }
                    }                                                  
                }
    
                &:nth-child(even) {
                    margin: 0 12px;
                }
            }
        }
    }

    #lovelyChoonsik {
        font-size: 40px;
    }

    .choonsik-diary-container {
        height: calc(100% - 70px);
        .choonsik-diary {
            .diary-page {
                .paper-inner {
                    .paper {
                        width: 50%;
                    }

                    .diary-text {
                        font-size: 32px;
                        padding: 0 20px;

                        .title {
                            font-size: 30px;
                            margin: 12px 0;
                        }

                        p {
                            line-height: 42px;
                        }
                    }
                }


                &.diary-page2 {
                    .paper-inner {
                        .condition-title {
                            font-size: 40px;
                        }
                    }

                    .choonsik-condition-container {
                        width: auto;
                        margin: 20px 0;

                        .choonsik-condition {
                            padding: 0 20px;

                            .condition-face {
                                width: 80px;
                                height: 80px;
                                margin-right: 16px;
                                border-radius: 16px;

                                .btn-face {
                                    font-size: 40px;
                                }                                
                            }
                        }
                    }

                    .diary-text-wrap {
                        position: relative;                        
                        padding: 0 20px;
                        margin-top: 40px;
                        margin-left: -20px;

                        .diary-text {
                            width: 100%;
                            background: #ffffff;
                            border: 3px solid #1DB6E9;
                            border-radius: 20px;
                            padding: 40px 20px;
                            box-shadow:
                                white 10px -10px 0 -3px,
                                #1DB6E9 10px -10px 0 -1px,
                                white 20px -20px 0 -3px,
                                #1DB6E9 20px -20px 0 -1px;

                            .big-face-box {
                                font-size: 40px;
                            }
                        }
                    }
                }

                &.diary-page3 {
                    .paper-inner {
                        .paper {
                            .cut-photo {
                                width: calc(50% - 16px);
                                height: 180px;
                                margin: 4px;
                            }
                        }

                        .cut-photo-text {
                            font-size: 36px;
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }

    .choonsik-condition-btn {
        &.btn-prev {
            left: 20px;
            top: 120px;
            width: 60px;
            height: 60px;
            font-size: 36px;
        }

        &.btn-next {
            height: 70px;
            font-size: 36px;
        }
    }  

    .music-progress-wrap {        
        .music-progress {
            max-width: 400px;
            max-height: 400px;            

            .outside-circle {
                width: 100%;
                height: 100%;
            }
    
            .inside-circle {
                width: 100%;
                height: 100%;
            }
    
            text {
                font-size: 80px;
            }        
        }   
    }  
}