/**********
* LIGHT MODE STYLES
**********/
[data-theme="light"] {
  --clr-basic: #ffffff;
  --clr-reversal: #222222;
  --clr-primary: #ffa7a7;
  --clr-secondary: #f1b5b5;  
}

/**********
* DARK MODE STYLES
**********/
[data-theme="dark"] {
  --clr-basic: #222222;
  --clr-reversal: #ffffff;
  --clr-primary: #d6d0d0; 
  --clr-secondary: #ddc9c9;  
}