/**********
* LIGHT MODE STYLES
**********/
[data-theme="light"] {
  --clr-basic: #ffffff;
  --clr-reversal: #222222;
  --clr-primary: #defabb;  
  --clr-secondary: #69F0AE;  
}

/**********
* DARK MODE STYLES
**********/
[data-theme="dark"] {
  --clr-basic: #999999;
  --clr-reversal: #ffffff;
  --clr-primary: #66BB6A; 
  --clr-secondary: #1B5E20;  
}