/**********
* LIGHT MODE STYLES
**********/
[data-theme="light"] {
  --clr-basic: #ffffff;
  --clr-reversal: #222222;
  --clr-surface: #A9FFE5;
  --clr-onsurface: #E3FF94;
  --clr-secondary: #1AB277;
  --clr-primary: #f5eb51;
}

/**********
* DARK MODE STYLES
**********/
[data-theme="dark"] {
  --clr-basic: #222222;
  --clr-reversal: #ffffff;
  --clr-surface: #06825d;
  --clr-onsurface: #8bb518;
  --clr-secondary: #0f6a47;
  --clr-primary: #534f1c;
}